.selectable {
	background: #fff9f8;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	color: #482d29;
	font-family: "Ubuntu Mono", monospace;
	font-size: 1.4rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	letter-spacing: 0.015em;
	line-height: 1.5rem;
	margin-bottom: 0;
	padding: 20px;
	word-wrap: break-word;
}

.selectable::-moz-selection {
	background: #29b6f6;
	color: #fff;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.selectable::selection {
	background: #29b6f6;
	color: #fff;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.selectable .marked {
	color: #fff;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.selectable .marked {
	border-radius: 2px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	padding: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}